.container {
    display: flex;
    justify-content: space-between;
}

.containerNav {
    width: 330px;
    padding: 0 5px;
    height: 600px;
    overflow: hidden;
    position: fixed;
    top: 60px;
}

.containerNav:hover {
    overflow-y: auto;
}

#scrollNav::-webkit-scrollbar {
    width: 6px;
}

/* phần tử cuộn có thể kéo để thay đổi kích cỡ. */
#scrollNav::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #e2e0e0;
    /* height: 10px; */
}

/* không gian trống bên dưới thanh tiến trình. */
#scrollNav::-webkit-scrollbar-track {
    border-radius: 10px;
}

.navUser {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--boder--color);
    padding-top: 20px;
}

.navUserItem {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.navUserItem:hover {
    background-color: #f7f4f4;
    border-radius: 3px;
}

.navUserItem p {
    flex: 1;
    text-align: left;
    font-size: 2rem;
    font-weight: 700;
    color: var(--black-color);
    padding-left: 10px;
    margin: 14px 0;
}

.navUserItem:first-child p,
.navUserItem:first-child i {
    color: #FE2C55;
}

.navUserItem i {
    margin: auto;
    font-size: 2rem;
    color: var(--black-color);
    padding: 0 10px;
    margin: 14px 0;
    width: 35px;
}

/* Account Proposed and Follow */
.navProposed,
.navFollow {
    padding: 10px 0;
    border-bottom: 1px solid var(--boder--color);
}

.headingProposed,
.headingFollow {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 500;
    user-select: none;
}

.navProposedList,
.navFollowList {
    padding: 0;
}

.navProposedItem,
.navFollowItem {
    list-style: none;
    margin-bottom: 5px;
    padding: 5px 5px;
}

.navProposedLink,
.navFollowLink {
    text-decoration: none;
    display: flex;
}

.navProposedItem:hover,
.navFollowItem:hover {
    background-color: #f7f4f4;
    border-radius: 3px;
}

.imgProposed,
.imgFollow {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.inforFollow,
.inforProposed {
    flex: 1;
    text-align: left;
    padding-left: 10px;
    padding-top: 3px;
}

.nameItem {
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 700;
}

.nameItem i {
    color: #20D5EC;
    font-size: 12px;
    padding-left: 4px;
    transform: translateY(-1px);
}

.desItem {
    margin: 0;
    color: var(--text-color);
    font-size: 1.3rem;
}

.viewAllProposed,
.viewAllFollow {
    color: #FE2C55;
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
}



/* -----------------Video--------------------- */
.containerBody {
    position:absolute;
    flex: 1;
    left: 500px;
    top: 60px;
    background-color: aquamarine;
    height: 1500px;
    width: 300px;
}