.header {
    border-bottom: 1px solid var(--boder--color);
    padding: 5px 0;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
}

.headerNav {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0 10px;
}

.logoImg {
    margin-top: 4px;
}

.headerSearch {
    border: 1px solid var(--boder--color);
    border-radius: 24px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    overflow: hidden;
    width: 370px;
    height: 47px;
    background-color: #F1F1F2;
    border: none;
}

.inputSearch {
    border: none;
    outline: none;
    height: 35px;
    background-color: #F1F1F2;
    padding-left: 15px;
    border-right: 1px solid rgba(22,24,35,0.12);
    flex: 1;
    margin: auto;
}

.inputSearch::placeholder {
    font-size: 1.4rem;
    color: #757575;
}

.inputSearch:focus {
    color: red;
    line-height: 12px;
}

.btnSearch {
    border: none;
    cursor: pointer;
    background-color: #F1F1F2;
    width: 50px;
}

.iconSearch {
    font-size: 20px;
    color: #0e0e0e1c;
}

.btnSearch:hover {
    background-color: rgba(22,24,35,0.03);
}

.headerList {
    display: flex;
    text-align: center;
    justify-content: center;
}

.headerItem {
    font-size: 24px;
    margin: auto;
    margin-left: 26px;
}

.activeDown,
.activeMes,
.activeMail {
    position: relative;
}

.activeDown:hover .downItem,
.activeMes:hover .mesItem,
.activeMail:hover .mailItem {
    display: block;
}

.downItem,
.mesItem,
.mailItem {
    position: absolute;
    top: 150%;
    right: -40px;
    width: 110px;
    height: 34px;
    background-color: #616161;
    font-size: 16px;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    padding: 8px 2px;
    cursor: pointer;
    animation: download ease 0.2s;
    display: none;
}

.downItem::before,
.mesItem::before,
.mailItem::before {
    content: "";
    position: absolute;
    top: -52%;
    right: 44px;
    border: 10px solid;
    border-color: transparent transparent #616161 transparent;
    cursor: pointer;
}

@keyframes download {
    from {
        opacity: 0;
        transform: translateY(-30%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.mesItem,
.mailItem {
    width: 80px;
    right: -26px;
}

.mesItem::before,
.mailItem::before {
    right: 28px;
}

/* ---------------------User Information --------------------------*/
.activeUser {
    position: relative;
}

.activeUser:hover .userInfor {
    display: block;
}

.userInfor {
    display: none;
    position: absolute;
    width: 274px;
    top: 150%;
    right: 0;
    background-color: white;
    border-radius: 3px;
    transform-origin: calc(100% - 8px) top;
    animation: userNoti ease 0.3s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 40px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 0px;
}

.userInfor::after {
    content: "";
    position: absolute;
    top: -5%;
    right: 4px;
    border-width: 10px 10px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    cursor: pointer;
}

.userList:first-child {
    border-bottom: 1px solid var(--boder--color);
}

.userItem {
    display: flex;
    margin: auto;
    text-decoration: none;
    margin: 5px 0;
}

.userItem p {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 500;
    flex: 1;
    text-align: left;
    padding-left: 25px;
}

.userItem i {
    color: var(--text-color);
    width: 30px;
    display: block;
    margin: auto;
    padding-left: 15px;
}

.userItem:hover {
    background-color: #f7f4f4;
}

@keyframes userNoti {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}